<router-outlet></router-outlet>
<div class="fondo ">
    <br><br><br>

    <div class="row justify-content-center">

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="linguistica()"
                style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Verbal</h2><br>
                    <img src="./assets/voice-command.png" class="imgEstudiante">
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="corporal()"
                style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Kinestesica Corporal</h2>
                    <img src="./assets/rock-n-roll.png" class="imgEstudiante">
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="intra()"
                style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia intrapersonal</h2>
                    <img src="./assets/balance.png" class="imgEstudiante">
                </div>
            </div>
        </div>

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="interpersonal()"
             style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Interpersonal</h2>
                    <img src="./assets/friends.png" class="imgEstudiante">
                </div>
            </div>
        </div> 
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="musical()"
             style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Musical</h2>
                    <img src="./assets/music-notes.png" class="imgEstudiante">
                </div>
            </div>
        </div> 
    </div>
</div>
