<!-- As a link -->
<div style="background-color: #441B69;">
    <nav class="navbar">

        <div class=" mb-3 letra col-1 ">

        </div>
        <div class="mb-1 letra col-1">
            <span><img src="./assets/logo.png" class="upp"></span>
        </div>

        <div class="mb-1 letra col-3"></div>

        <div class="mg-4 letra col-2 mx-auto text-center">
            <span class="titulo text-center">MultiMind</span>
        </div>

        <div class="mg-4 letra col-3 mx-auto text-center letra2"></div>

        <div class="mb-1 letra col-1 text-end">
            <!-- <span class="letra letra2">UPP</span> -->
            <i class="fa-solid fa-house letra cursor casa" (click)="menu()"></i>
        </div>

        <div class="mg-4 letra col-1 mx-auto  letra2"></div>
    </nav>
</div>