.navbar {
    flex: 1 1 auto;
    background-color: #441B69 ;

  }
.navbar{
  background-color: #441B69 ;
  
} 
.card-title{
  font-family: 'Tajawal', sans-serif;
  font-size: 25px;
  color: black;
}
.letra2{
  font-family: 'Tajawal', sans-serif;
  font-size: 30px;
}
.example-spacer {
  flex: 1 1 auto;
}
.letra{
  color: white;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
.card{
  width: 500px;
  height: 220px;

}
.imgEstudiante{

  width: 270px;
}
.cursor{
  cursor: pointer;
  margin-right: 7px;
}   
.upp{
    
  width: 110px;
  height: 40px;
}
.fondo{
  background: #d2d6de; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}