<router-outlet></router-outlet>

<div class="login">
  
  <div class="container">
  
    
    
  
        <div class="container2" style="background-color: #d2d6de">
          <div class="score-card">
         
           <div class="score-board">
             <div class="row ">
               <div class="col-auto">
                         
                <h1 style="color: #000000;"> Score  {{food.currentScore}}</h1>
            
               </div>
               <div class="col-auto">
                         
                 <button class="restart-button" (click)="restart()">RESTART</button>
            
               </div>
              </div>
           </div>



           
          </div>
          <div class="game-over" *ngIf="gameOver">
            <h1>Game Over</h1>
          </div>
    
          <div class="game-board">
          </div>
          <div class="mobile-controls">
            <h2>Pad para el teléfono</h2>
            <nav class="o-pad">
              <a class="up" (click)="dpadMovement('w')"></a>
              <a class="right" (click)="dpadMovement('d')"></a>
              <a class="down" (click)="dpadMovement('s')"></a>
              <a class="left" (click)="dpadMovement('a')"></a>
              <!-- <a class="up" (click)="dpadMovement('ArrowUp')"></a>
              <a class="right" (click)="dpadMovement('ArrowRight')"></a>
              <a class="down" (click)="dpadMovement('ArrowDown')"></a>
              <a class="left" (click)="dpadMovement('ArrowLeft')"></a> -->
            </nav>
          </div>
    
        </div>
    
    
      
    
    
    
    
    </div>
</div>