.letra2{
  font-family: 'Tajawal', sans-serif;
  font-size: 40px;
}
.fondo{
  background: #d2d6de; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.link{
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
}
.imgEstudiante2 {
  width: 700px;

} .imgEstudiante3{
  width: 450px;

}
.btn-upp{
  padding: 1rem 2rem;
  border-radius: 300PX;
  background-color: #441B69 ;
}