<router-outlet></router-outlet>

<div class="fondo">
    <br>
    <div>
        <h2 class=" letra2 text-center">Inteligencia Kinestesica Corporal</h2><br>
    </div>

    <div class="row justify-content-center" style="margin: 40px;">
      
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Que es?</h2><br>
                    <h1>Las habilidades corporales y motrices 
                        que se requieren para manejar 
                        herramientas o para expresar
                         ciertas emociones representan 
                         un aspecto esencial en el desarrollo 
                         de todas las culturas de la historia.</h1>
                </div>
            </div>
        </div>
    
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Qué actividades se pueden
                        realizar?</h2><br>
                    <h1>- Practica deportes, danza o artes marciales para desarrollar tu coordinación motriz
                        y habilidades físicas. <br>
                        - Participa en actividades al aire libre, como senderismo o escalada, para conectar
                        con tu cuerpo y el entorno</h1>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Porque es importante?</h2><br>
                    <h1>la habilidad de usar el cuerpo
                         para expresar ideas y emociones, 
                         para manipular y transformar objetos 
                         o para demostrar mayor destreza. Por 
                         ejemplo, los bailarines, los cirujanos
                          o los deportistas tienen este tipo de 
                          inteligencia más desarrollada.</h1>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Refleja el movimiento</h2>
                        <img src="./assets/baile.jpg" class="imgEstudiante3">
                        <br>   <br>   <br>
                        <button  type="button" (click)="korporal()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>




    </div>
</div>






