<router-outlet></router-outlet>

<div class="fondo">
    <br><br>
    <div>
        <h2 class=" letra2 text-center">Inteligencia Verbal</h2><br>
    </div>

    <div class="row justify-content-center" style="margin: 40px;">
      
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Que es?</h2><br>
                    <h1>consiste en aquel que
                        El razonamiento verbal es una
                         dimensión de la inteligencia que 
                         abarca varios aspectos relacionados
                          con la lógica, el lenguaje y el pensamiento
                           analógico, es decir, la capacidad de resolver 
                           diferentes problemas o situaciones a partir de
                            conocimientos lingüísticos.</h1>
                </div>
            </div>
        </div>
    
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Qué actividades se pueden
                        realizar?</h2><br>
                    <h1>-Lee libros, novelas, poesía y artículos de opinión para ampliar tu vocabulario y
                        mejorar tu comprensión lectora. <br>
                        - Escribe diarios, ensayos o historias cortas.  <br>
                        - Participa en debates o clubes de 
                        lectura para discutir ideas y mejorar tu habilidad
                        de expresión verbal.</h1>
                </div>
            </div>
        </div>

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Adivinanzas</h2>
                        <img src="./assets/adi.png"class="imgEstudiante3">
                        <br>   <br>   <br>
                        <button  type="button" (click)="adivinanza()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Comprensión Lectora</h2>
                        <img src="./assets/comprension.jpg"class="imgEstudiante2">
                        <br>   <br>   <br>
                        <button  type="button" (click)="lectura()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>
    </div>
</div>
