<router-outlet></router-outlet>

<br><br>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-auto">
            <button type="button" (click)="crearEstudiante()" class="btn btn-upp letra">Registrar Directivo</button>

        </div>
        
        <div class="col-2">
            <form [formGroup]="forms">
                <div class="col-auto">
        
                    <div class="form-floating col-auto">
                        <select class="form-select form-select-lg" [(ngModel)]="selectCarrera" formControlName="Carrera"
                            aria-label="Carrera" (click)="refresh()" aria-describedby="basic-addon1">
                            <option [value]="carreras.value" *ngFor="let carreras of carreras">{{carreras.nombre}}</option>
                        </select>
        
                        <label for="Carrera">Carrera</label>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="col-2">
            <div class="col-auto">
                <form [formGroup]="forms">
                    <div class="input-group mb-3">
                        <div class="form-floating">
        
                            <select class="form-select form-select-lg" [(ngModel)]="selectTiempo" formControlName="tiempo"
                                aria-label="tiempo" aria-describedby="basic-addon1">
                                <option [value]="tiempo.value" *ngFor="let tiempo of tiempo">{{tiempo.nombre}}</option>
                            </select>
                            <label for="tiempo">Tiempo</label>
                        </div>
        
                    </div>
                </form>
            </div>
        </div> -->
        <div class="col-2">
            <div class="col-auto">
                <form [formGroup]="forms">
                    <div class="input-group mb-3">
                        <div class="form-floating">
        
                            <select class="form-select form-select-lg" [(ngModel)]="selectstatus" formControlName="status"
                                aria-label="status"  (click)="refresh()" aria-describedby="basic-addon1">
                                <option [value]="status.value" *ngFor="let status of status">{{status.nombre}}</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
        
                    </div>
                </form>
            </div>
        </div>
        
<!--         
        <div class="col-auto">
            <button type="submit" [disabled]="forms.invalid" (click)="ngOnInit()" class="btn text-white btn-upp">
                <i class="fa-solid fa-magnifying-glass"></i>&nbsp; Buscar </button>
        </div> -->
        <div class="col-auto">
            <button type="submit" *ngIf=" this.selectCarrera !== 'Todos' || this.selectstatus !== 'Ambos'" [disabled]="forms.invalid" [disabled]="forms.invalid" (click)="reset()" class="btn text-white btn-upp">
                <i class="fa-solid fa-rotate"></i> &nbsp; Reset</button>
        </div>

        
        <br><br><br><br>
        <div class="col-11 mx-auto">
            <table class="table ">
                <tbody>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">PE</th>
                    <tr *ngFor="let dir of listarDirectivos">

                        <td>{{dir.matricula}}</td>
                        <td>{{dir.nombre + " "+ dir.apellidoPaterno + " "+ dir.apellidoMaterno}}</td>
                        <td>{{dir.cargo}}</td>
                        <td>{{dir.carrera}}</td>
                        <td><i class="fa-solid fa-eye text-primary cursor" (click)="eye(dir.id)"></i></td>
                        <td><i class="fa-solid fa-pen-to-square text-success cursor"(click)="Modificar(dir.id) "></i></td>
                            <td><i  *ngIf="dir.activo == 'danger'" class="fa-solid fa-ban text-{{dir.activo}} cursor" (click)="modalActivado(dir.id)"></i>
                                <i  *ngIf="dir.activo == 'success'" class="fa-solid fa-circle-check text-{{dir.activo}} cursor" (click)="modalDesactivado(dir.id)"></i>
                        </td>
        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
