.cursor{
    cursor: pointer;
    margin-right: 7px;
}   
.imgEstudiante2 {

  height: 50px; /* Cambié la altura a 50px para hacerla cuadrada */
  /* object-fit: cover;  */

}
.nav {
    flex: 1 1 auto;
    background-color: #441B69 ;

  }
.mat-toolbar{
  background-color: #441B69 ;
  
}
.letra2{
  font-family: 'Tajawal', sans-serif;
  font-size: 17px;
}
.titulo{
  font-family: 'Tajawal', sans-serif;
  font-size: 25px;
}
.example-spacer {
  flex: 1 1 auto;
}
.casa{
  width: 30px;
  height:3  0px;
}
.letra{
  color: white;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
.card{
  width: 500px;
  height: 220px;

}
  
.imgEstudiante{

  width: 200px;
}
.upp{
    
  width: 110px;
  height: 40px;
}
.fondo{
  background-color: #e0e3e9;
  height: 100vh;
  background-size: conver;
}