<router-outlet></router-outlet>

<div class="fondo">
    <br>
    <div>
        <h2 class=" letra2 text-center">Inteligencia Musical Ritmica</h2><br>
    </div>

    <div class="row justify-content-center" style="margin: 40px;">
      
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Que es?</h2><br>
                    <h1>Una persona que posee inteligencia 
                        musical es aquella que, por ejemplo, 
                        disfruta siguiendo el compás con su 
                        pie o con algún objeto rítmico. 
                        También se asocia a aquellos que
                         se sienten atraídos por los sonidos
                          de la naturaleza y diversos tipos de melodías.</h1>
                </div>
            </div>
        </div>
    
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Qué actividades se pueden
                        realizar?</h2><br>
                    <h1>- Aprende a tocar un instrumento musical o practica cantar para desarrollar tu
                        habilidad musical. <br>
                        - Escucha una amplia variedad de géneros musicales y analiza las estructuras y las
                        melodías. <br>
                        - Participa en coros, bandas u otros grupos musicales para mejorar tu capacidad de
                        trabajo en equipo.</h1>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Karaoke</h2>
                        <img src="./assets/karaoke.png"class="imgEstudiante2">
                        <br>   <br>   <br>
                        <button  type="button" (click)="karaoke()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Piano</h2>
                        <img src="./assets/piano.png"class="imgEstudiante2">
                        <br>   <br>   <br>
                        <button  type="button" (click)="piano()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>




    </div>
</div>
