<router-outlet></router-outlet>
<div class="fondo ">

  <br>
  <div class="row justify-content-center ">

    <div class="col-auto">
      <div class="card text-center mt-3 mb-3 border-dark mb-3 cursor" (click)="alumno()"
        style="width: 18rem; height: 17rem;">
        <div class="card-body">
          <h2 class="card-title">Estudiantes</h2>
          <img src="./assets/graduado.png" class="imgEstudiante">
        </div>
      </div>

    </div>
    <div class="col-auto">

      <div class="card text-center mt-3 mb-3 border-dark mb-3 cursor" (click)="maestro()"
        style="width: 18rem; height: 17rem;">
        <div class="card-body">
          <h2 class="card-title">Docentes</h2>
          <img src="./assets/profesor.png" class="imgEstudiante">
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card text-center mt-3 mb-3 border-dark mb-3 cursor" (click)="directivo()"
        style="width: 18rem; height: 17rem;">
        <div class="card-body">
          <h2 class="card-title">Directivos</h2>
          <img src="./assets/empresario.png" class="imgEstudiante">

        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card text-center mt-3 mb-3 border-dark mb-3 cursor" (click)="admin()" style="width: 18rem; height: 17rem;">
        <div class="card-body">
          <h2 class="card-title">Admins</h2>
          <img src="./assets/personal-security.png" class="imgEstudiante">
    
        </div>
      </div>
    </div>

    <div class="col-auto">
      <div class="card text-center mt-3 mb-3 border-dark mb-3 cursor" (click)="actualizacion()"
        style="width: 18rem; height: 17rem;">
        <div class="card-body">
          <h2 class="card-title">Actualizar Contenido</h2>
          <img src="./assets/brain.png" class="imgEstudiante">
        </div>
      </div>
    </div>

    <div class="col-auto">
      <div class="card text-center mt-3 mb-3 border-dark mb-3 cursor" (click)="contra2()"
        style="width: 18rem; height: 17rem;">
        <div class="card-body">
          <h2 class="card-title">Cambiar contraseña</h2>
          <img src="./assets/candado.png" class="imgEstudiante">
        </div>
      </div>
    </div>


  </div>
</div>
