<!-- <app-inicio></app-inicio> -->



    <router-outlet></router-outlet>
    <!-- <div class="cuerpo">
    
        <div class="container mt-5  col-auto mx-auto " style="background-color: beige;">
    
    
    
    
            <div class="row ">
                <div class="col-6 ">
                    <div class="col-auto ">
                        <h2>Login</h2>
                        <br>
    
                        <div class="form-floating">
                            <input class="form-control" placeholder="Descripcion" formControlName="titulo" maxlength="35">
                            <label>Correo</label>
                        </div>
                        <br>
    
                        <div class="form-floating">
                            <input class="form-control" placeholder="Descripcion" formControlName="titulo" maxlength="35">
                            <label>Contraseña</label>
                        </div>
                        <br>
    
                        <br>
    
                        <div class="col-12 text-center">
    
                            <button type="submit" class="btn">Iniciar</button>
                        </div>
    
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-auto">
                        hola
                    </div>
                </div>
    
    
            </div>
    
    
    
            <br><br><br>
            <br><br><br><br><br><br><br><br>
    
        </div> -->