<router-outlet></router-outlet>

<div class="fondo">
    <br>
    <div>
        <h2 class=" letra2 text-center">Inteligencia Interpersonal</h2><br>
    </div>

    <div class="row justify-content-center" style="margin: 40px;">
      
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Que es?</h2><br>
                    <h1>consiste en aquel que
                        se origina a raíz de las experiencias
                        directas, desarrollando la capacidad
                        de los seres humanos para entender conceptos
                        abstractos mediante números, formas gráficas,
                        fórmulas matemáticas y físicas, ecuaciones,
                        entre otros.</h1>
                </div>
            </div>
        </div>
    
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Qué actividades se pueden
                        realizar?</h2><br>
                    <h1>Resuelve acertijos y rompecabezas matemáticos: Participa en juegos y
                        rompecabezas que te desafíen a pensar lógicamente y resolver problemas matemáticos.
                        Puedes encontrar muchos acertijos en línea o en libros especializados.</h1>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Contesta la pregunta</h2>
                        <img src="./assets/pregunta_interpersonal.png" class="imgEstudiante3">
                        <br>   <br>   <br>
                        <button  type="button" (click)="inter()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Adivina la palabra</h2>
                        <img src="./assets/palabra.png" class="imgEstudiante3">
                        <br>   <br>   <br>
                        <button  type="button" (click)="palabra()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>




    </div>
</div>






