<router-outlet></router-outlet>

<div class="fondo">
    <br>
    <div>
        <h2 class=" letra2 text-center">Inteligencia Visual Espacial</h2><br>
    </div>

    <div class="row justify-content-center" style="margin: 40px;">
      
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Que es?</h2><br>
                    <h1>es la capacidad de pensar en tres dimensiones. 
                        La mente es capaz de crear imágenes,
                         razonar acerca del espacio y sus dimensiones y 
                         reproducirlas o proyectarlas sobre un objeto</h1>
                </div>
            </div>
        </div>
    
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Qué actividades se pueden
                        realizar?</h2><br>
                    <h1>- Practica el dibujo y la pintura para mejorar tu percepción visual y habilidades
                        artísticas. <br>
                        - Monta rompecabezas y juega juegos de construcción. <br>
                        - Observa e interpreta mapas y planos para fortalecer tu orientación espacial.</h1>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                    <h2 class="card-title letra2">¿Porque es importante?</h2><br>
                    <h1>Nos permite ubicarnos en tiempo y espacio, 
                        crear modelos tridimensionales y expresarnos 
                        de forma artística. Estas habilidades pueden 
                        desarrollarse desde la infancia tanto en el 
                        aula como en el hogar.</h1>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3" style="width: 40rem; height: 35rem;">
                <div class="card-body">
                        <h2  class="card-title letra2">Memorama</h2>
                        <img src="./assets/memory-game.png"class="imgEstudiante2">
                        <br>   <br>   <br>
                        <button  type="button" (click)="memorama()"  class="btn text-white btn-upp">Jugar</button>
                </div>
            </div>
        </div>
 




    </div>
</div>
