<router-outlet></router-outlet>

<div class="fondo">
    <br><br>
    <div class="row justify-content-center">

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="alumno()"
                style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h2 class="card-title">Estudiantes</h2>
                    <img src="./assets/graduado.png" class="imgEstudiante">
                </div>
            </div>

        </div>
        <div class="col-auto ">

            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="contras()"
                style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h2 class="card-title">Cambiar contraseña</h2>
                    <img src="./assets/candado.png" class="imgEstudiante">
                </div>
            </div>

        </div>
    </div>
</div>