<router-outlet></router-outlet>

<div class="fondo">
    <br><br>
    <div class="row justify-content-center" style="margin: 20px;">

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="mate()"
             style="width: 18rem; height: 20rem;" >
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Logica Matematica</h2>
                    <img src="./assets/calculator.png" class="imgEstudiante">
                </div>
            </div>

        </div>
        <div class="col-auto ">

            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="verbal()" style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Verbal</h2><br>
                    <img src="./assets/voice-command.png" class="imgEstudiante">
                </div>
            </div>

        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="espacial()" 
            style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Visual Espacial</h2>
                    <img src="./assets/binoculars.png" class="imgEstudiante">
                </div>
            </div>

        </div>

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="corporal()" style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Kinestesica Corporal</h2>
                    <img src="./assets/rock-n-roll.png" class="imgEstudiante">
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="musical()" style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Musical Rítmica</h2>
                    <img src="./assets/music-notes.png" class="imgEstudiante">
                </div>
            </div>
        </div>

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="intra()"
             style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Intrapersonal</h2>
                    <img src="./assets/balance.png" class="imgEstudiante">
                </div>
            </div>
        </div>

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="inter()"
             style="width: 18rem; height: 20rem;">
                <div class="card-body">
                    <h2 class="card-title">Inteligencia Interpersonal</h2>
                    <img src="./assets/friends.png" class="imgEstudiante">
                </div>
            </div>
        </div>  



    </div>
</div>