<router-outlet></router-outlet>

<div class="fondo">
    <br><br>
    <div class="row justify-content-center" style="margin: 20px;">
        <br>
        <div>
            <h2 class=" letra2 text-center">Actualizacion de Inteligencia Musical</h2><br>
        </div>

        <div class="col-auto ">
            <div class="card text-center mb-3 border-dark mb-3 cursor" (click)="tablakaraoke()"
             style="width: 18rem; height: 20rem;" >
                <div class="card-body">
                    <h2 class="card-title">Karaoke</h2>
                    <img src="./assets/karaoke.png" class="imgEstudiante">
                </div>
            </div>
        </div>

    </div>
</div>