
<div class="fondo">

  <div class="row" style="margin: 20px;">

    <div class="col-3 ">
      <div class="card text-center mb-3 border-dark mb-3" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Registrar Estudiante</h2>
          <img src="./assets/graduado.png" class="imgEstudiante">
          <p class="card-text">Podra regisrar estduiantes que podra accesar a mentemind y realizar test interactivos
          </p>
          <button type="button" (click)="alumno()" class="btn btn-warning btn-upp">Registrar</button>
        </div>
      </div>

    </div>
    <div class="col-3 ">
      <div class="card text-center mb-3 border-dark mb-3" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Registrar Docente</h2>
          <p class="card-text">Poder registrar docentes para accesar a la aplicacion y dar de alta estudiantes</p>
          <button type="button" (click)="maestro()" class="btn btn-warning btn-upp">Registrar</button>
        </div>
      </div>

    </div>
    <div class="col-3 ">
      <div class="card text-center mb-3 border-dark mb-3" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Registrar Directivos</h2>
          <p class="card-text">Podra registrar directivos para accesar a la aplicacion y dar de alta estudiantes y
            docentes</p>
          <button type="button" (click)="directivo()" class="btn btn-warning btn-upp">Registrar</button>
        </div>
      </div>

    </div>
    <div class="col-3 ">
      <div class="card text-center mb-3 border-dark mb-3" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Registrar Admin</h2>
          <p class="card-text">Podra registrar un administrador que podra realizar alta y baja de estudiantes,
            docentes y administrativos.</p>
          <button type="button" (click)="admin()" class="btn btn-warning btn-upp">Registrar</button>
        </div>
      </div>

    </div>
  </div>
</div>