<router-outlet></router-outlet>

<div class="login">
    <div class="card border-black mb-3 card" ><br>
        <p class="text-center titulo">Test Inteligencias Multiples</p>
        
        <div class="card-body"><br><br>
          <div class="mx-auto text-center">
            <h4 class="card-title" >Presione Iniciar para realizar el formulario</h4>
          </div>
          <div class="mx-auto text-center"><br><br><br>
            <button type="submit"(click)="preguntas()"  class="btn text-white btn-upp">Iniciar</button>
          </div>
        </div>
</div>